<!-- pad-wrapper -->
<div id="pad-wrapper">

  <!-- title //-->
  <div class="row header">
        <h3>Search</h3>
  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#new" data-toggle="tab">New</a></li>
    <li><a href="#location" data-toggle="tab">Location</a></li>
    <li><a href="#new_address" data-toggle="tab">New Address</a></li>
    <li><a href="#old_address" data-toggle="tab">Old Address</a></li>
    <li><a href="#poitab" data-toggle="tab">POI</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <br>
    <!-- Tab New -->
    <div class="tab-pane active" id="new">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-horizontal" id="search" role="form">
          <div class="form-group">
            <label  class="col-sm-2 control-label">Category</label>
            <div class="col-sm-2">
              <select class="form-control input-sm" id="category">
              <option value="0">All</option>
              {{#each category}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="register" class="btn-flat default" >+Go</button>
            </div>
          </div>
        </form>                    
      </div>
    </div>

    <!-- Tab Location -->
    <div class="tab-pane" id="location">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-horizontal" id="search" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Lat / Long</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="lat" placeholder="Lat" value="32">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="long" placeholder="Long" value="127">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Distance</label>
            
            <div class="col-sm-2">
              <input type="text" id="distance" class="form-control" id="long" placeholder="Long" value="100">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Category</label>
            <div class="col-sm-2">
              <select class="form-control input-sm" id="category">
              <option value="0">All</option>
              {{#each category}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="loc_startTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="loc_endTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="register" class="btn-flat default" >+Go</button>
            </div>
          </div>
        </form>                    
      </div>
    </div>

    <!-- Tab New Address -->
    <div class="tab-pane" id="new_address">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-horizontal" id="search" role="form">
          <div class="form-group">
            <label  class="col-sm-2 control-label">Address</label>
            
            <div class="col-sm-2">
              <input type="text" id="address" class="form-control" id="long" placeholder="address" value="">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Category</label>
            <div class="col-sm-2">
              <select class="form-control input-sm" id="category">
              <option value="0">All</option>
              {{#each category}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="naddr_startTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="naddr_endTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="register" class="btn-flat default" >+Go</button>
            </div>
          </div>
        </form>                    
      </div>
    </div>

    <!-- Tab OLD Address -->
    <div class="tab-pane" id="old_address">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-horizontal" id="search" role="form">
          <div class="form-group">
            <label  class="col-sm-2 control-label">Address</label>
            
            <div class="col-sm-2">
              <input type="text" id="address" class="form-control" id="long" placeholder="address" value="">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Category</label>
            <div class="col-sm-2">
              <select class="form-control input-sm" id="category">
              <option value="0">All</option>
              {{#each category}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="oaddr_startTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="oaddr_endTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="register" class="btn-flat default" >+Go</button>
            </div>
          </div>
        </form>                    
      </div>
    </div>

    <!-- Tab POI -->
    <div class="tab-pane" id="poitab">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="form-horizontal" id="search" role="form">
          <div class="form-group">
            <label  class="col-sm-2 control-label">POI</label>
            
            <div class="col-sm-2">
              <input type="text" id="poi" class="form-control" id="poi" placeholder="poi" value="">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Category</label>
            <div class="col-sm-2">
              <select class="form-control input-sm" id="category">
              <option value="0">All</option>
              {{#each category}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="poi_startTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
            <div class="col-sm-2">
              <input class="form-control" type="text" id="poi_endTime" data-date-format="yyyy/mm/dd" placeholder="2013-10-12 12:00:00">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="register" class="btn-flat default" >+Go</button>
            </div>
          </div>
        </form>                    
      </div>
    </div>

  </div>
  <!-- End of Tab panes -->

</div>
<!-- End of pad-wrapper -->

